In [1]:
import numpy as np
import pandas as pd
import os

os.environ["PYTHONIOENCODING"] = "utf-8"
os.environ["JOBLIB_TEMP_FOLDER"] = r"D:\joblib_tmp"

In [2]:
TRAIN_PATH = "../data/train.csv"   # change if needed
TEST_PATH  = "../data/test.csv"    # change if needed

TARGET_COL = "Survived"
ID_COL = "PassengerId"

In [3]:
df_tr = pd.read_csv(TRAIN_PATH)
df_te = pd.read_csv(TEST_PATH)

In [6]:
df_tr['src'] = 'train'
df_te['src'] = 'test'

df_te[TARGET_COL] = 2
df_full = pd.concat([df_tr, df_te], ignore_index=True)

In [7]:
df_full.groupby(['src','Sex']).size()

src    Sex
test   female    152
       male      266
train  female    314
       male      577
dtype: int64

In [9]:
df_full.groupby(['src','Pclass']).size()

src    Pclass
test   1         107
       2          93
       3         218
train  1         216
       2         184
       3         491
dtype: int64